<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container container_delete">

    <nav>
        <div class="logo">
            <img src="/Images/i_icon.png"/>
        </div>

        <ul class="list-item">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
        </ul>
    </nav>

    <div class="tables_list">
        <label for="tables">Delete from table :</label>
        <select id="tables" name="tableList" form="tableForm">
            <option>Course</option>
            <option>Credit_Combination
            <option>Department</option>
            <option>Faculty</option>
            <option>Inventory</option>
            <option>Non_Teaching_Staff</option>
            <option>Staff</option>
            <option>Staff_Qualification</option>
            <option>Student</option>
            <option>Student_Contact_No</option>
            <option>Student_SPI</option>
            <option>Studies</option>
            <option>Teaches</option>
        </select>
        <form method="post" action="/delete" id="tableForm">
            <input type="submit">
        </form>
    </div>


    <% if (temp.length !== 0) { %>
<!--    <div>-->
        <div class="insert_form">
            <label for="insertForm">Delete what?</label>
            <form class="insertForm" action='<%= '/delete/table?name=' + temp%>'  method="POST">
                <% for (let i = 0; i < columns.length; i ++) { %>
                    <label for='<%= columns[i].name%>'></label>
                    <% if (columns[i].name === 'DOB') { %>
                        <input type="date" name='<%= columns[i].name%>' placeholder='<%=columns[i].name%>'>
                    <% } else { %>
                        <input type="text" name='<%= columns[i].name%>' placeholder='<%=columns[i].name%>'>
                    <% } %>
                <% } %>
                <input type="submit" class="insert_form_submit">
            </form>
            <h3><%= error %></h3>
        </div>
<!--        <div>-->

    <% } %>

</div>
</body>
</html>